<title>TITLE HERE</title>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<script>
	var viewModel = { appName: '/web/' };
</script>

<!--<link rel="shortcut icon" href="{{BaseUrl}}res/img/favicon.ico" type="image/x-icon" />-->
<!-- jquery -->
<script src="{{BaseUrl}}res/jquery/jquery-2.1.0.min.js"></script>
<script src="{{BaseUrl}}res/jquery/jquery-ui.min.js"></script>
<!-- knockout -->
<script src="{{BaseUrl}}res/knockout/knockout-3.4.0.js"></script>
<script src="{{BaseUrl}}res/knockout/knockout.mapping.js"></script>
<!-- lazyjs -->

<!-- bootstrap -->
<script src="{{BaseUrl}}res/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{BaseUrl}}res/bootstrap/css/bootstrap.min.css" />
<!-- font-awesome -->
<link rel="stylesheet" href="{{BaseUrl}}res/font-awesome/css/font-awesome.min.css" />

<!-- kendo-ui -->
<!-- <link href="{{BaseUrl}}res/kendo-ui/styles/kendo.default.min.css" rel="stylesheet"> -->
<link href="{{BaseUrl}}res/kendo-ui/styles/kendo.common-bootstrap.min.css" rel="stylesheet">
<link href="{{BaseUrl}}res/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{BaseUrl}}res/kendo-ui/styles/kendo.ez.css" />
<script src="{{BaseUrl}}res/kendo-ui/js/kendo.all.min.js"></script>
<script src="{{BaseUrl}}res/kendo-ui/js/jszip.min.js"></script>

<!-- knockout-kendo -->
<script src="{{BaseUrl}}res/knockout-kendo/knockout-kendo.min.js"></script>

<!-- knockout-else -->
<script src="{{BaseUrl}}res/knockout-else/knockout-else.js"></script>

<!-- jquery.sortable -->
<script src="{{BaseUrl}}res/jquery.sortable/jquery.sortable.min.js"></script>

<!-- sweetalert -->
<link rel="stylesheet" href="{{BaseUrl}}res/sweetalert/sweet-alert.css">
<script src="{{BaseUrl}}res/sweetalert/sweet-alert.min.js"></script>
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/sweetalert-custom.css">

<!-- toolkit -->
<script src="{{BaseUrl}}res/toolkit/toolkit.js"></script>

<!-- fonts -->
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/fonts.css" />

{{.}}
<!-- core -->
<script src="{{BaseUrl}}res/core/js/app.js?ANTI_CACHE={{.AntiCache}}"></script>
<script src="{{BaseUrl}}res/core/js/layout.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/bootstrap-ext.css?ANTI_CACHE={{.AntiCache}}" />
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/layout.css?ANTI_CACHE={{.AntiCache}}" />